<!DOCTYPE html>
<html lang="en">
  <%- include('common/head') %>
  <body>
    <%- include('common/nav') %>
    <div class="main-container">
      <h1 class="heading">Guest Register</h1>
      <main>
        <form action="/api/event/register-guest" method="post">
          <% if (message) { %>
          <p><%= message %></p>
          <% } %>
          <div class="input-fields">
            <span class="legend">
              <label for="eventName">Event Name: </label>
              <input
                type="text"
                name="eventName"
                id="eventName"
                placeholder="Name of the event you created."
                required
              />
            </span>

            <span class="legend">
              <label for="firstname">Name: </label>
              <input
                type="text"
                name="name"
                id="name"
                placeholder="John"
                required
              />
            </span>

            <span class="legend">
              <label for="surname">Surname: </label>
              <input
                type="text"
                name="surname"
                id="surname"
                placeholder="Doe"
                required
              />
            </span>

            <span class="legend">
              <label for="id">Id: </label>
              <input
                type="text"
                name="id"
                id="id"
                pattern="[0-9]{13}"
                placeholder="2012175333080"
                required
              />
            </span>

            <span class="legend">
              <label for="cellno">Cell-no: </label>
              <input
                type="text"
                name="cellno"
                id="cellno"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                placeholder="012-345-6789"
                required
              />
            </span>

            <span class="legend">
              <label for="email">Email: </label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="example@example.com"
                required
              />
            </span>

            <div class="signature-pad-container">
              <span class="legend">
                <label for="signature">Signature: </label>
                <span class="signature-pad-controls">
                  <canvas> </canvas>
                  <button class="signature-pad-clear">Clear</button>
                </span>
              </span>
            </div>
          </div>
          <button type="submit" id="form-submit">Submit</button>
        </form>
      </main>
    </div>

    <%- include('common/sideMenu') %> <%- include('common/footer') %> <%-
    include('common/script') %>
  </body>
</html>
